{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} Login User {% endblock %}

{% block content %}
{% include "header.html" %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <div class="page-heading">
            <h1>Login User</h1>
            <span class="subheading">Login </span>
          </div>
        </div>
      </div>
    </div>
  </header>

{{ wtf.quick_form(form) }}

{% include "footer.html" %}
{% endblock %}

