{% extends "bootstrap/base.html" %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% if edit: %}
          <div class="page-heading">
            <h1>Edit Post</h1>
            <span class="subheading">Edit the post</span>
          </div>
          {% else %}
          <div class="page-heading">
            <h1>New Post</h1>
            <span class="subheading">You're going publish a blog post!</span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if edit: %}
                <form method="POST" action="{{ url_for('edit_post', post_id=post_id) }}">
                  {% else %}

        <form method="POST" action="{{ url_for('new_post') }}">
          {% endif %}
        
          <!-- This is where the form will go -->
        {{ form.csrf_token }}
    {{ form.title.label }} {{ form.title(size=80) }}
    {{ form.subtitle.label }} {{ form.subtitle(size=80) }}
    {{ form.author.label }} {{ form.author(size=80) }}
    {{ form.img_url.label }} {{ form.img_url(size=80) }}
          {{ form.body.label }}
            {{ ckeditor.load() }}

          {{ ckeditor.create(value=article_body) }}


          <br>
          {{ form.submit }}
        </form>

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}