* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}
a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
li {
  list-style: none;
}
